<h1>Express Validation Test: Sign-Up Form</h1>

{{#if errors }} 
    <div class="alert alert-danger">
       <strong>Invalid Data:</strong>
        <ul>
            {{#each errors }}
                <li>{{ msg }}</li>
            {{/each}}
        </ul>
    </div>
{{else if success}}
    <div class="alert alert-success">
       <strong>Congrates:</strong>
        <ul>
            {{success}}
        </ul>
    </div>
{{/if}}

<form action="/create" method="POST">
   <div class="form-group">
       <div class="col-md-6">
           <label>Username: </label>
           <input type="text" class="form-control" name="username">
       </div>
   </div>
   <div class="form-group">
       <div class="col-md-6">
           <label>Email: </label>
           <input type="text" class="form-control" name="email">
       </div>
   </div>
   <div class="form-group">
       <div class="col-md-6">
           <label>Password: </label>
           <input type="password" class="form-control" name="password">
       </div>
   </div>
   <div class="form-group">
       <div class="col-md-6">
           <label>Confirm password: </label>
           <input type="password" class="form-control" name="confirm_password">
       </div>
   </div> 
   <div class="form-group">
       <div class="col-md-6">
           <button type="submit" class="btn btn-success">Test Validation</button>
       </div>
   </div>   
</form>