<h2>Contact Form</h2>
<form action="/sendEmailByEthereal" method="POST">
    Your Name: <input type="text" name="username"><br>
    Subject: <input type="text" name="email_subject"><br>
    Your Email: <input type="text" name="email"><br>
    Message: <textarea name="email_message" rows="3"></textarea><br><br>
    <button type="submit">Contact Us</button>
</form>