<h1>User Registration/SIGNUP Form</h1>
<form action="/signup" method="POST">
  <div class="form-group">
    <label for="inputName">User Name:</label>
    <input type="text" name="name" class="form-control" id="exampleInputName">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
      <label for="selectRole">Your Role:</label>
      <select class="form-control" name="role">
          <option value="web dev">Web Developer</option>
          <option value="lead dev">Team Lead</option>
          <option value="manager">Project Manager</option>
      </select>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>