<h1> Add Department</h1>
<form class="form-inline" action="/add/department" method="POST">
  <div class="form-group">
    <label class="control-form">Department Name</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="name" placeholder="e.g: Web dev">
    </div>
  </div>
  <div class="form-group">
    <label class="control-form">Adress</label>
  </div>
  <div class="form-group">
    <label class="control-form">Street</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="street" placeholder="e.g: Hüttenstrasse 100">
    </div>
  </div>
  <div class="form-group">
    <label class="control-form">Zip Code</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="zip" placeholder="e.g: 45175">
    </div>
  </div>
  <div class="form-group">
    <label class="control-form">City</label>
    <div class="col-md-4">
      <input type="text" class="form-control" name="city" placeholder="e.g: Düsseldorf">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add Department</button>
</form>