<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Chat-APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chat">Start Chat</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search Friends</button>
        </form>
    </div>
</nav>


{{{body}}}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<!-- jquery -->
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<!--socket io scripts for client side-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
<script>
    $(function () {
        const socket = io();
        // form from chat.handlebars when submit anything
        $('form').submit(function () {
            $('#userTyping').remove();
            // name class will get data value from input and save to name variable
            const name = $('#name').val();
            // message class will get data value from input and save to message variable
            const message = $('#message').val();
            // emit a string or data using name and message from input variable and send to chatMsg event
            socket.emit('chatMsg', `${name} said : ${message}`);
            $('#message').val('');
            // do not return anything so we can see msgs and stay on the same page without reloading
            return false;
        });

        socket.on('chatMsg', function (message) {
            // adding all messages sending and receiving using list and append()
            $('#messages').append($('<li style="background-color: #e5ecef; color: black;">').text(message));
        });
        // socket.emit('chatMsg', 'Hi from client');
    });
    function userIsTyping() {
        $('#userTyping').text('Someone is Typing..........');
    }
</script>
</body>
</html>