<h1>Lets Analysis some data using Chart.js</h1>
<h2>Tools using:</h2>
<ul>
    <li>Nodejs</li>
    <li>ExpressJs</li>
    <li>Handlebarjs</li>
    <li>MongoDB</li>
    <li>Chartjs</li>
    <li>Bootstrap</li>
</ul>
<h1>My Charts results Here:</h1>
<canvas id="myChart" width="400" height="400"></canvas>
