<h1>Teachers Table form</h1>
<form action="/teacher/add" method="post">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Email:</label>
  <input type="text" name="email">
  <label>Age</label>
  <input type="number" name="age">
  <button type="submit">Add teacher</button>
</form>