Welcome to home
<form action="/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="my-pic">
    <button class="btn btn-success" type="submit">Upload Pic </button>
</form>

<form action="/sendMail" method="get">
    <button class="btn btn-danger" type="submit">Email</button>
</form>
