<form action="/upload" method="POST" enctype="multipart/form-data">
  <h1 style="color:red">{{message}}</h1>
  <input type="file" name="my-pic">
  <button class="btn btn-success" type="submit">Upload Picture</button>
</form>

