<h1>Detail of This Todo</h1>
<a href="/"> Home||</a>
<a href="/todos/list"> Todos</a>
<br><hr>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Todo</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{todo._id}}</td>
            <td>{{todo.todo}}</td>
            <td>{{todo.createdAt}}</td>
        </tr>
    </tbody>
</table>
