<h1>Here Map API</h1>
<h2>Task 01: Display Map</h2>
<h2>Task 02: Geocoder test</h2>
<input type="text" id="address">
<button type="submit" class="btn btn-success" id="getGeo">Show from GEOCODE</button>
<hr><p id="result"></p><hr>
<div id="mapContainer"></div>
