<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>file upload test</title>
</head>
<body>
   <h1>File Upload Using Multer</h1> 
   <div>
          {{{body}}}
   </div>
</body>
</html>